@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar from Screen 4 */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #324d67;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #45698c;
}

/* Utilities for no-scrollbar */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
